:80 {
        header Access-Control-Allow-Headers "*"
        header Access-Control-Request-Headers "*"
        header Access-Control-Allow-Origin "*"
        header Vary Accept
        reverse_proxy wdqs.svc:9999 {
                header_up X-BIGDATA-READ-ONLY "yes"
                transport http {
                        read_buffer 1M
                }
        }
}
